<!DOCTYPE html>
<html>
    <h1>Social Tour</h1>
    <p>
      This is the home page for the
      <a href="http://ekaidepd.com/">SocialTour</a>
      sample application.
      <img src="https://graph.facebook.com/tomas.madariaga/picture"/>
    </p>
    <%= link_to "Sign up now!", '#', :class => "signup_button round" %>
  </body>
</html>
